# Python for Beginners — Lesson 01: Variables & Data Types

**What you’ll learn**
- Create and name variables
- Work with the four basic data types: `int`, `float`, `str`, `bool`
- Inspect types with `type()` and convert between types

## What are Variables?
Variables are labels for values. You use them to store things like a user’s name, grades, prices, or results from a calculation.  
Types (number, text, True/False) determine what operations are allowed.

**Naming rules & style**
- Start with a letter or `_` (not a number), use only letters, digits, `_`
- Case-sensitive: `Age` and `age` are different
- Pick clear, descriptive names

In [ ]:
# Create a few variables
age = 25               # int (whole number)
height_m = 1.68        # float (decimal number)
name = "Richel"        # str (text)
is_student = True      # bool (True/False)

# Print variables
print(age, height_m, name, is_student)

In [ ]:
# Check their types
print(type(age), type(height_m), type(name), type(is_student))

## Core Data Types You’ll Use Today
| Type  | What it represents      | Example           |
|------:|--------------------------|-------------------|
| `int` | Whole numbers            | `25`, `0`, `-3`   |
| `float` | Decimal numbers        | `1.68`, `3.14`    |
| `str` | Text (string)            | `"Hello"`, `"3"`  |
| `bool` | True / False            | `True`, `False`   |

> Tip: `"25"` (string) is not the same as `25` (int).

In [ ]:
x = "5"
y = 5
print(x * 2)  # text repetition
print(y * 2)  # math multiplication